{
  "openapi": "3.0.3",
  "info": {
    "title": "VOS API v2 (English)",
    "version": "1.0.24",
    "description": "Filtered VOS API v2 OpenAPI specification for signup ID-card parsing."
  },
  "servers": [
    {
      "url": "https://api-gw.verolabs.co",
      "description": "API gateway"
    }
  ],
  "tags": [
    {
      "name": "Signup",
      "description": "APIs used during account signup"
    }
  ],
  "paths": {
    "/api/v2/chat/api/id-card": {
      "post": {
        "tags": [
          "Signup"
        ],
        "summary": "Parse ID card images during signup",
        "operationId": "parseSignupIdCard",
        "security": [],
        "description": "Parses the front ID-card image and optional back/portrait images submitted during signup. Send base64 image content in JSON without the data URL prefix. This endpoint does not require authentication.",
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": {
                "$ref": "#/components/schemas/IdCardParseRequest"
              }
            }
          },
          "description": "Base64 image payload used by the signup ID-card scan flow."
        },
        "responses": {
          "200": {
            "description": "Parsed ID-card data and uploaded image URLs when available.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/IdCardParseResponse"
                }
              }
            }
          },
          "400": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Plain-text backend or gateway error message."
                }
              }
            }
          },
          "500": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Plain-text backend or gateway error message."
                }
              }
            }
          },
          "401": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Plain-text backend or gateway error message."
                }
              }
            }
          },
          "404": {
            "$ref": "#/components/responses/ErrorResponse",
            "description": "Error response.",
            "content": {
              "application/json": {
                "schema": {
                  "$ref": "#/components/schemas/AnyErrorBody"
                }
              },
              "application/problem+json": {
                "schema": {
                  "oneOf": [
                    {
                      "$ref": "#/components/schemas/ValidationProblemDetails"
                    },
                    {
                      "$ref": "#/components/schemas/ProblemDetails"
                    }
                  ]
                }
              },
              "text/plain": {
                "schema": {
                  "type": "string",
                  "description": "Plain-text backend or gateway error message."
                }
              }
            }
          }
        },
        "servers": [
          {
            "url": "https://api-gw.verolabs.co/api/v2/chat",
            "description": "Signup API"
          }
        ],
        "x-mint": {
          "metadata": {
            "title": "Parse ID card images during signup",
            "sidebarTitle": "Parse ID card images",
            "description": "POST /api/v2/chat/api/id-card"
          }
        }
      }
    }
  },
  "components": {
    "schemas": {
      "IdCardParseRequest": {
        "type": "object",
        "additionalProperties": false,
        "description": "Base64-encoded ID-card images captured or uploaded in the signup flow. frontImage is required; backImage and portraitImage are optional.",
        "required": [
          "frontImage"
        ],
        "properties": {
          "frontImage": {
            "type": "string",
            "format": "byte",
            "description": "Base64 image content for the front side of the Vietnamese ID card. Do not include the data URL prefix."
          },
          "backImage": {
            "type": "string",
            "format": "byte",
            "description": "Optional base64 image content for the back side of the ID card."
          },
          "portraitImage": {
            "type": "string",
            "format": "byte",
            "description": "Optional base64 portrait/selfie image."
          }
        }
      },
      "IdCardParseResponse": {
        "type": "object",
        "additionalProperties": true,
        "description": "ID-card parsing response returned by the chat/ekyc route.",
        "properties": {
          "success": {
            "type": "boolean",
            "description": "Whether parsing succeeded."
          },
          "data": {
            "type": "object",
            "additionalProperties": true,
            "description": "Parsed Vietnamese ID card fields.",
            "properties": {
              "idNumber": {
                "type": "string",
                "description": "Citizen ID number."
              },
              "fullName": {
                "type": "string",
                "description": "Full name on the ID card."
              },
              "dateOfBirth": {
                "type": "string",
                "description": "Date of birth as parsed from the document."
              },
              "sex": {
                "type": "string",
                "description": "Sex/gender value on the document."
              },
              "nationality": {
                "type": "string",
                "description": "Nationality."
              },
              "placeOfOrigin": {
                "type": "string",
                "description": "Place of origin."
              },
              "placeOfResidence": {
                "type": "string",
                "description": "Place of residence."
              },
              "dateOfExpiry": {
                "type": "string",
                "description": "Expiry date."
              },
              "dateOfIssue": {
                "type": "string",
                "description": "Issue date when available."
              },
              "issuedBy": {
                "type": "string",
                "description": "Issuing authority when available."
              },
              "address": {
                "type": "string",
                "description": "Parsed address when returned by backend."
              }
            }
          },
          "imageUrls": {
            "$ref": "#/components/schemas/IdCardImageUrls"
          },
          "error": {
            "type": "string",
            "description": "Error message when parsing fails."
          }
        }
      },
      "IdCardImageUrls": {
        "type": "object",
        "additionalProperties": true,
        "description": "Stored image URLs returned by the ID-card service.",
        "properties": {
          "front": {
            "type": "string",
            "description": "Stored front image URL."
          },
          "back": {
            "type": "string",
            "description": "Stored back image URL."
          },
          "portrait": {
            "type": "string",
            "description": "Stored portrait image URL."
          }
        }
      },
      "ErrorResponse": {
        "type": "object",
        "additionalProperties": true,
        "description": "Error body returned by gateway or backend services. Backends can return either JSON objects or plain text errors.",
        "properties": {
          "error": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object",
                "additionalProperties": true,
                "properties": {
                  "id": {
                    "type": "string",
                    "description": "gateway error id when supplied."
                  },
                  "code": {
                    "type": "integer",
                    "description": "HTTP-like error code."
                  },
                  "status": {
                    "type": "string",
                    "description": "HTTP status text, for example Unauthorized."
                  },
                  "reason": {
                    "type": "string",
                    "description": "Detailed reason returned by the authentication service or gateway."
                  },
                  "message": {
                    "type": "string",
                    "description": "Human-readable error message."
                  }
                }
              }
            ],
            "description": "Error code/message string or nested gateway error object."
          },
          "message": {
            "type": "string",
            "description": "Human-readable error message."
          },
          "detail": {
            "type": "string",
            "description": "Detailed backend error message when available."
          },
          "details": {
            "oneOf": [
              {
                "type": "string"
              },
              {
                "type": "object",
                "additionalProperties": true
              },
              {
                "type": "array",
                "items": {
                  "type": "object",
                  "additionalProperties": true
                }
              }
            ],
            "description": "Additional validation or backend details.",
            "nullable": true
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code when included by the backend."
          }
        }
      },
      "AnyErrorBody": {
        "oneOf": [
          {
            "$ref": "#/components/schemas/ErrorResponse"
          },
          {
            "$ref": "#/components/schemas/ValidationProblemDetails"
          },
          {
            "$ref": "#/components/schemas/ProblemDetails"
          }
        ],
        "description": "Structured error body returned by gateway, ASP.NET services, or backend validation handlers."
      },
      "ValidationProblemDetails": {
        "allOf": [
          {
            "$ref": "#/components/schemas/ProblemDetails"
          },
          {
            "type": "object",
            "additionalProperties": true,
            "properties": {
              "errors": {
                "type": "object",
                "additionalProperties": {
                  "oneOf": [
                    {
                      "type": "array",
                      "items": {
                        "type": "string"
                      }
                    },
                    {
                      "type": "string"
                    }
                  ]
                },
                "description": "Validation errors keyed by request field name."
              }
            }
          }
        ],
        "description": "Validation problem response returned when request parameters or body fields are invalid."
      },
      "ProblemDetails": {
        "type": "object",
        "additionalProperties": true,
        "description": "RFC 7807-style problem response returned by ASP.NET/gateway services.",
        "properties": {
          "type": {
            "type": "string",
            "description": "Problem type URI."
          },
          "title": {
            "type": "string",
            "description": "Short problem title."
          },
          "status": {
            "type": "integer",
            "description": "HTTP status code."
          },
          "detail": {
            "type": "string",
            "description": "Detailed error message."
          },
          "traceId": {
            "type": "string",
            "description": "Trace id for backend diagnostics."
          }
        }
      }
    },
    "responses": {
      "ErrorResponse": {
        "description": "Error response containing an error code, message, detail, or plain text.",
        "content": {
          "application/json": {
            "schema": {
              "$ref": "#/components/schemas/ErrorResponse"
            }
          },
          "text/plain": {
            "schema": {
              "type": "string"
            }
          }
        }
      }
    }
  }
}
